In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [5]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [8]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
ser2 = ser1.reindex(['A','B','C','D','E','F','G'], fill_value=0)

In [10]:
ser2

A    1
B    2
C    3
D    4
E    0
F    0
G    0
dtype: int64

In [11]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

In [12]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1', 'col2','col3','col4','col5'])

In [16]:
dframe

       col1      col2      col3      col4      col5
A -2.648524 -1.492288 -1.644668 -1.056297  1.105258
B  0.576483 -1.204242  2.836229 -1.482918  0.976291
D -1.009003 -2.387499  1.267371  0.844527 -0.318405
E -0.975117 -0.340465  0.231336 -1.289814  0.746434
F -0.233241  0.317211  1.617353 -0.274465  0.906540

In [17]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)

In [18]:
dframe2

       col1      col2      col3      col4      col5
A -2.648524 -1.492288 -1.644668 -1.056297  1.105258
B  0.576483 -1.204242  2.836229 -1.482918  0.976291
C       NaN       NaN       NaN       NaN       NaN
D -1.009003 -2.387499  1.267371  0.844527 -0.318405
E -0.975117 -0.340465  0.231336 -1.289814  0.746434
F -0.233241  0.317211  1.617353 -0.274465  0.906540

In [19]:
new_columns = ['col1', 'col2','col3','col4','col5','col6']

In [20]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -2.648524 -1.492288 -1.644668 -1.056297  1.105258   NaN
B  0.576483 -1.204242  2.836229 -1.482918  0.976291   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.009003 -2.387499  1.267371  0.844527 -0.318405   NaN
E -0.975117 -0.340465  0.231336 -1.289814  0.746434   NaN
F -0.233241  0.317211  1.617353 -0.274465  0.906540   NaN

In [21]:
dframe

       col1      col2      col3      col4      col5
A -2.648524 -1.492288 -1.644668 -1.056297  1.105258
B  0.576483 -1.204242  2.836229 -1.482918  0.976291
D -1.009003 -2.387499  1.267371  0.844527 -0.318405
E -0.975117 -0.340465  0.231336 -1.289814  0.746434
F -0.233241  0.317211  1.617353 -0.274465  0.906540

In [22]:
dframe.ix[new_index, new_columns]

C:\Users\n00476\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -2.648524 -1.492288 -1.644668 -1.056297  1.105258   NaN
B  0.576483 -1.204242  2.836229 -1.482918  0.976291   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.009003 -2.387499  1.267371  0.844527 -0.318405   NaN
E -0.975117 -0.340465  0.231336 -1.289814  0.746434   NaN
F -0.233241  0.317211  1.617353 -0.274465  0.906540   NaN

In [25]:
dframe.loc[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A -2.648524 -1.492288 -1.644668 -1.056297  1.105258   NaN
B  0.576483 -1.204242  2.836229 -1.482918  0.976291   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.009003 -2.387499  1.267371  0.844527 -0.318405   NaN
E -0.975117 -0.340465  0.231336 -1.289814  0.746434   NaN
F -0.233241  0.317211  1.617353 -0.274465  0.906540   NaN